#control-panel {
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
}
#format-actions {
  display: flex;
  margin-right: auto;
}

.format-action {
  width: 50px;
  font-size: 1.2rem;
  padding: 0.5rem 0.75rem;
  margin: 0 5px;
}

.format-action--active {
  background-color: #4e54c8!important;
  color: #fff;
}

.format-action:focus {
	background-color: transparent;
}
